@font-face{
  font-family: globalFont;
  src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

/* .bold-text {
} */

.email-unread{
  font-weight: bold;
    background-color: rgb(154, 191, 223);
  }

  .email-bgc{
    background-color: lightblue;
  }
  
  .email-border{
    border-color: black;
    border: solid;
    border-width: 1px;
    margin-bottom: 2px;
    border-radius: 60px;
    padding: 13px;
}
  
.preview-subject{
  display: inline-block;
  width: 15rem;
}

.preview-recipient{
  display: inline-block;
  width: 15rem
  }
.preview-body{
  display: inline-block;
  width: 15rem
  }

.preview-time{
  display: inline-block;
  width: 15rem
  }
  
  .email-list{
  list-style-type: none;
  padding-left: 150px;
  }

  .email-details{
padding-left: 150px;
  }

  .btn-compose{
    text-decoration: none;
    background-color: #4C6A92;
    border: none;
  color: white;
  padding: 15px 32px;
border-radius: 20px;
display: -webkit-inline-box;
  }